body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 350px);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}

.caja1 {
  background-color: #971a1a;
}
.caja2 {
  background-color: #060b57;
}
.caja3 {
  background-color: #1a9744;
}
.caja4 {
  background-color: #97561a;
}
.caja5 {
  background-color: #971a67;
}
.caja6 {
  background-color: #9c6969;
}
.caja7 {
  background-color: #1a978d;
}
.caja8 {
  background-color: #0c3333;
}
.caja9 {
  background-color: #47bb6a;
}

/* MEDIA */

@media only screen and (max-width: 320px) {
  body {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 350px);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 720px) {
  body {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 350px);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
  }
}
